@charset "UTF-8";
@import url(style_Reset.css);



h1 {
    text-align: center;
    margin-top: 20px;
}

/* div#wrap */
div#wrap {
    width: 900px;
    height: 500px;

    padding-top: 70px;
    border: 1px solid #000;
    margin: 20px auto;
}

    /* div#slide */
div#slide {    /* 이미지 1개의 크기를 적용 */
    width: 780px;
    height: 350px;
    border: 2px solid #08f;

    margin: 0 auto;

    overflow: hidden;
}

div#shuttleFrame {    /* 이미지 전체의 폭 */
    width: 2360px;
    height: 350px;
    border: 2px solid #f00;
}

#slide a {
    position: relative;
}

#slide a span {

    color: #000;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    border: 4px solid #aaa;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

    /* div#slide */



/* div#wrap */






