@charset "UTF-8";
@import url(style_Reset.css);


h1 {
    text-align: center;
    margin: 40px auto;
}

div#wrap {
    width: 1300px;
    padding: 40px;
    margin: 0 auto;
}


div#slide {
    width: 1200px;
    height: 300px;
    border: 4px solid #08f;
}

div#shuttleFrame {
    width: 1200px;
    height: 300px;
    border: 4px solid #f80;

    /*position: relative;*/   /* a요소 배치형태 파악용 */
}

#slide a {
    position: relative;
    /*border: 4px dashed #08f;*/
    display: inline-block;

    position: absolute;   /* 전환형에서만 적용 */

}

/*

#slide a:nth-child(2) {
    left: 160px;
    top: 160px;
}
#slide a:nth-child(3) {
    left: 280px;
    top: 280px;
}

*/



#slide a:not(:first-child) {
    display: none;
}


#slide span {
    font-size: 30px;
    font-weight: bold;
    padding: 10px 24px;
    border: 4px solid #aaa;
    border-radius: 10px;

    background-color: rgba(255, 255, 255, 0.81);

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}













